# Import ~ Seed 선언

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
%matplotlib inline

from sklearn.preprocessing import Imputer
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split 
from sklearn.model_selection import ParameterGrid
from sklearn.ensemble import RandomForestClassifier
from sklearn import svm
from sklearn.model_selection import train_test_split
from keras.models import Model, Sequential
from keras.layers.advanced_activations import LeakyReLU
from keras.layers import Dense, Flatten, Dropout
from keras.layers import Input
from keras.optimizers import Adam
from keras import initializers
from tqdm import tqdm

import os
import warnings
warnings.filterwarnings("ignore")

Using TensorFlow backend.

In [3]:
# Keras 가 Tensorflow 를 벡엔드로 사용할 수 있도록 설정합니다.
os.environ["KERAS_BACKEND"] = "tensorflow"

# 실험을 재현하고 동일한 결과를 얻을 수 있는지 확인하기 위해 seed 를 설정합니다.
seed = 2019
np.random.seed(seed)
tf.set_random_seed(seed)

# Data Preprocessing

## 데이터셋 불러오기

In [4]:
# 데이터셋 로드
url = "http://archive.ics.uci.edu/ml/machine-learning-databases/secom/secom.data"
secom = pd.read_csv(url, header=None, delim_whitespace=True)
url = "http://archive.ics.uci.edu/ml/machine-learning-databases/secom/secom_labels.data"
y = pd.read_csv(url, header=None, usecols=[0], squeeze=True, delim_whitespace=True) 
# delim_whitespace = True : 빈 공간(' ')을 구분자로 인식하고 데이터 읽어옴
# squeeze 만약 컬럼 하나만 읽어오면 데이터 구조를 Series로 읽어옴

In [5]:
print(type(secom)) # 데이터 구조: DataFrame
print(secom.shape) # 1567개의 인스턴스 590개의 속성
secom.head()

<class 'pandas.core.frame.DataFrame'>
(1567, 590)

,0,1,2,3,4,5,6,7,8,9,...,580,581,582,583,584,585,586,587,588,589
0,3030.93,2564.00,2187.7333,1411.1265,1.3602,100.0,97.6133,0.1242,1.5005,0.0162,...,NaN,NaN,0.5005,0.0118,0.0035,2.3630,NaN,NaN,NaN,NaN
1,3095.78,2465.14,2230.4222,1463.6606,0.8294,100.0,102.3433,0.1247,1.4966,-0.0005,...,0.0060,208.2045,0.5019,0.0223,0.0055,4.4447,0.0096,0.0201,0.0060,208.2045
2,2932.61,2559.94,2186.4111,1698.0172,1.5102,100.0,95.4878,0.1241,1.4436,0.0041,...,0.0148,82.8602,0.4958,0.0157,0.0039,3.1745,0.0584,0.0484,0.0148,82.8602
3,2988.72,2479.90,2199.0333,909.7926,1.3204,100.0,104.2367,0.1217,1.4882,-0.0124,...,0.0044,73.8432,0.4990,0.0103,0.0025,2.0544,0.0202,0.0149,0.0044,73.8432
4,3032.24,2502.87,2233.3667,1326.5200,1.5334,100.0,100.3967,0.1235,1.5031,-0.0031,...,NaN,NaN,0.4800,0.4766,0.1045,99.3032,0.0202,0.0149,0.0044,73.8432

In [6]:
print('The dataset has {} observations/rows and {} variables/columns.'.format(secom.shape[0], secom.shape[1]))
print('The majority class has {} observations, minority class {}.'.format(y[y == -1].size, y[y == 1].size))
print('The dataset is imbalanced. The ratio of majority class to minority class is {%.2f}:1.' % (float(y[y == -1].size/y[y == 1].size)))

The dataset has 1567 observations/rows and 590 variables/columns.
The majority class has 1463 observations, minority class 104.
The dataset is imbalanced. The ratio of majority class to minority class is {14.07}:1.

## 결측치 확인

In [7]:
# 결측치를 가지고 있는 컬럼이 몇 개 인지 확인하는 코드

nmv = secom.dropna(axis=1) # 열을 기준으로 NaN 값이 존재하면 그 열을 삭제하고 반환
print('No. of columns after removing columns with missing data: {}'.format(nmv.shape[1]))

nmv = secom.dropna(axis=0) # 행을 기준으로 NaN 값이 존재하면 그 열을 삭제하고 반환
print('No. of rows after removing rows with missing data: {}'.format(nmv.shape[0]))

del nmv # nmv 변수는 오류 방지를 위해 확인 후 바로 삭제

No. of columns after removing columns with missing data: 52
No. of rows after removing rows with missing data: 0

## 상수 값을 가지는 열 제거

In [8]:
dropthese = [i for i in range(590) if secom[i].std() == 0]
secom_categorical = secom.drop(dropthese, axis = 1)
print(secom_categorical.shape)
secom_categorical.head()

print('There are {} columns which have identical values recorded. We will drop these.'.format(len(dropthese)))
print('The data set now has {} columns.'.format(secom_categorical.shape[1]))

(1567, 474)
There are 116 columns which have identical values recorded. We will drop these.
The data set now has 474 columns.

# 200개 이상의 결측치 열 제거

In [9]:
# 결측치가 criteria(200)을 초과하는 열을 추출해내는 함수
def get_columns_over_200NaN(df) :
    criteria = 200
    filtered_columns = list(filter(lambda i: sum(df[i].isnull()) > criteria, df.columns))
    return filtered_columns

# main
filtered_columns = get_columns_over_200NaN(secom_categorical)
secom_categorical = secom_categorical.drop(filtered_columns, 1)

print(secom_categorical.shape)
secom_categorical.head()

(1567, 422)

,0,1,2,3,4,6,7,8,9,10,...,576,577,582,583,584,585,586,587,588,589
0,3030.93,2564.00,2187.7333,1411.1265,1.3602,97.6133,0.1242,1.5005,0.0162,-0.0034,...,1.6765,14.9509,0.5005,0.0118,0.0035,2.3630,NaN,NaN,NaN,NaN
1,3095.78,2465.14,2230.4222,1463.6606,0.8294,102.3433,0.1247,1.4966,-0.0005,-0.0148,...,1.1065,10.9003,0.5019,0.0223,0.0055,4.4447,0.0096,0.0201,0.0060,208.2045
2,2932.61,2559.94,2186.4111,1698.0172,1.5102,95.4878,0.1241,1.4436,0.0041,0.0013,...,2.0952,9.2721,0.4958,0.0157,0.0039,3.1745,0.0584,0.0484,0.0148,82.8602
3,2988.72,2479.90,2199.0333,909.7926,1.3204,104.2367,0.1217,1.4882,-0.0124,-0.0033,...,1.7585,8.5831,0.4990,0.0103,0.0025,2.0544,0.0202,0.0149,0.0044,73.8432
4,3032.24,2502.87,2233.3667,1326.5200,1.5334,100.3967,0.1235,1.5031,-0.0031,-0.0072,...,1.6597,10.9698,0.4800,0.4766,0.1045,99.3032,0.0202,0.0149,0.0044,73.8432

## 데이터셋 분리

In [34]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(secom_categorical, y, test_size = 0.2, stratify=y)

In [11]:
# ndarray 
print(X_train.shape) # (1253, 474)
print(X_test.shape) # (314, 474)
print(y_train.shape) # (1253,)
print(y_test.shape) # (314,)

(1253, 422)
(314, 422)
(1253,)
(314,)

In [33]:
# 결측치 파악을 위한 문구 출력
criteria_list = [1, 5, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 200, 400, 500, 600, 700, 800, 900, 1000]

for criteria in criteria_list :
    columns_filtered = list(filter(lambda i: sum(secom_categorical[i].isnull()) > criteria, secom_categorical.columns))
    print('The number of columns with more than {:>4d} missing values(about {}%): {:>2d}'.format(criteria, int((criteria/1567)*100), len(columns_filtered)))

The number of columns with more than    1 missing values(about 0%): 290
The number of columns with more than    5 missing values(about 0%): 174
The number of columns with more than   10 missing values(about 0%): 66
The number of columns with more than   20 missing values(about 1%): 46
The number of columns with more than   30 missing values(about 1%):  8
The number of columns with more than   40 missing values(about 2%):  8
The number of columns with more than   50 missing values(about 3%):  8
The number of columns with more than   60 missing values(about 3%):  0
The number of columns with more than   70 missing values(about 4%):  0
The number of columns with more than   80 missing values(about 5%):  0
The number of columns with more than   90 missing values(about 5%):  0
The number of columns with more than  100 missing values(about 6%):  0
The number of columns with more than  200 missing values(about 12%):  0
The number of columns with more than  400 missing values(about 25%):  0
The number of columns with more than  500 missing values(about 31%):  0
The number of columns with more than  600 missing values(about 38%):  0
The number of columns with more than  700 missing values(about 44%):  0
The number of columns with more than  800 missing values(about 51%):  0
The number of columns with more than  900 missing values(about 57%):  0
The number of columns with more than 1000 missing values(about 63%):  0

## 결측치 채우기 (가우시안 분포)

In [12]:
# fill_NaN_by_Gaussian 함수를 적용하기 위해 데이터 형변환 (ndarray -> DataFrame)
df_X_train = pd.DataFrame(X_train)
df_X_test = pd.DataFrame(X_test)
print(df_X_train.shape)
print(df_X_test.shape)

(1253, 422)
(314, 422)

In [13]:
def fill_NaN_by_Gaussian(df_X_train, df_X_test) :
      
    """결측치를 해당 열의 가우시안 분포를 따르는 난수로 대체하는 함수이다.
       단, test셋의 각 열은 train셋의 각 열의 가우시안 분포를 따른다고 가정한다.
       따라서, test셋은 train셋의 mean, std를 사용한다.                      """
    
    for column in df_X_train.columns.values : 
        
        mean = df_X_train[column].mean()
        std = df_X_train[column].std()
            
        X_train_NaN_size = sum(df_X_train[column].isnull())
        X_test_NaN_size = sum(df_X_test[column].isnull())
          
        df_X_train.loc[df_X_train[column].isnull(), column] = np.random.normal(mean, std, size = X_train_NaN_size)            
        df_X_test.loc[df_X_test[column].isnull(), column] = np.random.normal(mean, std, size = X_test_NaN_size)

    return (df_X_train, df_X_test)
                          
                          
# main
df_X_train, df_X_test = fill_NaN_by_Gaussian(df_X_train, df_X_test)
print(df_X_train.shape)       
print(df_X_test.shape)

(1253, 422)
(314, 422)

In [14]:
# 결측치를 채우고 난 후 정상적으로 결측치가 채워졌는지 재확인하는 코드

# df_X_train
nmv = df_X_train.dropna(axis=1) # 열을 기준으로 NaN 값이 존재하면 그 열을 삭제하고 반환
print('No. of columns after removing columns with missing data: {}'.format(nmv.shape[1]))

nmv = df_X_train.dropna(axis=0) # 행을 기준으로 NaN 값이 존재하면 그 열을 삭제하고 반환
print('No. of rows after removing rows with missing data: {}'.format(nmv.shape[0]))

del nmv  # nmv 변수는 오류 방지를 위해 확인 후 바로 삭제

# df_X_test
nmv = df_X_test.dropna(axis=1) # 열을 기준으로 NaN 값이 존재하면 그 열을 삭제하고 반환
print('No. of columns after removing columns with missing data: {}'.format(nmv.shape[1]))

nmv = df_X_test.dropna(axis=0) # 행을 기준으로 NaN 값이 존재하면 그 열을 삭제하고 반환
print('No. of rows after removing rows with missing data: {}'.format(nmv.shape[0]))

del nmv  # nmv 변수는 오류 방지를 위해 확인 후 바로 삭제

No. of columns after removing columns with missing data: 422
No. of rows after removing rows with missing data: 1253
No. of columns after removing columns with missing data: 422
No. of rows after removing rows with missing data: 314

## Normalization 

-  std_scale = preprocessing.StandardScaler().fit(X_train)

   X_train = std_scale.transform(X_train)

   X_test = std_scale.transform(X_test)
   

-  from sklearn.preprocessing import StandardScaler
   
   scaled_features = StandardScaler().fit_transform(df.values)
   
   ~ (생략) ~
   
   scaled_features_df = pd.DataFrame(scaled_features, index=df.index, columns=df.columns)
   
   
-  fit_transform(X, y=None, **fit_params)
  
   Fit to data, then transform it.

   Parameters:	
  
   X : numpy array of shape [n_samples, n_features] (Training set.)

   y : numpy array of shape [n_samples] (Target values.)

   Returns:	
  
   X_new : numpy array of shape [n_samples, n_features_new] (Transformed array.)

# MinMax Scaler

In [15]:
# 표준 정규 분포로 Normalization 
# train 데이터의 각 열에 적용한 평균과 표준편차를 test 데이터의 각 열에 동일하게 적용함
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler(feature_range=(-1, 1))

mm_scale_parameters = scaler.fit(df_X_train.values) # train 데이터의 평균과 표준편차로 파라미터를 피팅한 후 저장, test 데이터에도 똑같은 파라미터를 적용하기 위함

scaled_X_train= mm_scale_parameters.transform(df_X_train) # [n_samples, n_features]의 크기로 반환, [1253,474]
scaled_X_test= mm_scale_parameters.transform(df_X_test) # [n_samples, n_features]의 크기로 반환, [314,474]

scaled_df_X_train = pd.DataFrame(scaled_X_train, index = df_X_train.index, columns = df_X_train.columns) # 데이터 프레임으로 변환, 기존의 index, columns 사용
scaled_df_X_test = pd.DataFrame(scaled_X_test, index =df_X_test.index, columns = df_X_test.columns) # 데이터 프레임으로 변환, 기존의 index, columns 사용

In [16]:
print(scaled_df_X_train.shape)
scaled_df_X_train.head()

(1253, 422)

,0,1,2,3,4,6,7,8,9,10,...,576,577,582,583,584,585,586,587,588,589
1089,0.032245,-0.114485,0.314324,0.948694,-0.949477,-0.784008,0.879478,0.056296,0.084957,-0.351536,...,-0.973583,-0.728700,0.80000,-0.977051,-0.974684,-0.978401,-0.591912,-0.656539,-0.729927,-0.710990
368,-0.371075,0.208597,-0.007655,-0.488985,-0.950122,-0.100144,0.849139,0.346798,-0.108340,0.105802,...,-0.964340,-0.769689,0.26875,-0.947301,-0.955209,-0.949275,-0.805147,-0.635403,-0.620438,0.055099
624,-0.196881,-0.043435,0.102930,-0.526126,-0.949917,0.036338,0.837004,0.457241,-0.203429,-0.160410,...,-0.992856,-0.754995,-0.03125,-0.971951,-0.972736,-0.972267,-0.472426,-0.717305,-0.708029,-0.822372
968,-0.352123,-0.115881,-0.122952,-0.352613,-0.950126,-0.184039,0.838521,-0.068328,0.060016,-0.460751,...,-0.980963,-0.748950,0.53750,-0.980875,-0.978578,-0.981748,-0.487132,-0.878468,-0.897810,-0.890324
924,0.136892,-0.322922,1.000000,0.270582,-0.950424,-0.661158,0.759640,0.803610,0.222136,0.078498,...,-0.978590,-0.823422,0.93125,-0.976201,-0.972736,-0.978005,-0.608456,-0.984148,-0.963504,-0.915862

In [17]:
print(scaled_df_X_test.shape)
scaled_df_X_test.head()

(314, 422)

,0,1,2,3,4,6,7,8,9,10,...,576,577,582,583,584,585,586,587,588,589
689,-0.078240,-0.547471,-0.068838,-0.528536,-0.950170,0.053834,0.840038,0.002578,-0.049104,-0.337884,...,-0.975550,-0.734372,0.28750,-0.976201,-0.966894,-0.976888,-0.606618,-0.812417,-0.795620,-0.800242
1143,-0.041086,-0.135337,-0.073639,-0.388780,-0.950888,-0.084440,0.827902,-0.005587,-0.233048,-0.253697,...,-0.985499,-0.867070,0.45000,-0.983850,-0.980526,-0.984557,-0.358456,-0.857332,-0.890511,-0.909631
1122,-0.371238,0.218078,0.695129,0.156671,-0.950238,-0.509914,0.818801,-0.084658,-0.206547,-0.221843,...,-0.973425,-0.712823,0.15625,-0.945601,-0.949367,-0.947320,-0.435662,-0.881110,-0.927007,-0.903978
756,-0.295004,0.006587,0.180784,-0.153458,-0.950609,0.021954,0.853690,0.398797,-0.522993,0.023891,...,-0.975045,-0.705983,0.25625,-0.957926,-0.962999,-0.959175,-0.579044,-0.381770,-0.496350,-0.555137
1026,-0.116537,0.150111,0.299311,0.116347,-0.950168,-0.422008,0.877961,0.079502,-0.187841,-0.135381,...,-0.981085,-0.923611,0.11875,-0.963451,-0.961052,-0.964188,-0.670956,-0.785997,-0.781022,-0.719018

# Import and Apply PCA

In [18]:
# 몇 개의 주성분을 사용해야 하는지 알아보기 위해 작성한 코드
from sklearn.decomposition import PCA

varianceList = [0.80, 0.85, 0.9, 0.95, 0.99, 1]

for ratio in varianceList :
    pca = PCA(ratio)
    pca.fit(scaled_X_train)
    if ratio == 1 :
        print("Choose {:3d} eigenvectors which explain {}% of the variance.".format(474, (pca.n_components)*100))
    else :
        print("Choose {:3d} eigenvectors which explain {:>3d}% of the variance.".format(pca.n_components_, int(pca.n_components*100)))
    del pca

Choose  65 eigenvectors which explain  80% of the variance.
Choose  78 eigenvectors which explain  85% of the variance.
Choose  98 eigenvectors which explain  90% of the variance.
Choose 128 eigenvectors which explain  95% of the variance.
Choose 188 eigenvectors which explain  99% of the variance.
Choose 474 eigenvectors which explain 100% of the variance.

In [19]:
# PCA 인스턴스 객체를 생성.
pca = PCA(0.8)

# 생성된 PCA 인스턴스 객체에 scaled_df_X_train를 Fitting.
# 주의: fit은 오직 scaled_df_X_train에만 적용.
# 동일한 파라미터를 scaled_df_X_test에 적용하기 위함.
pca.fit(scaled_df_X_train)

# transform하게 되면  ndarray로 반환하기 때문에 별도의 DataFrame 형변환 필요.
X_train_after_PCA = pca.transform(scaled_df_X_train)
X_test_after_PCA = pca.transform(scaled_df_X_test)

In [20]:
# PCA 수행 후의 X_train을 DataFrame으로 형변환 
df_X_train_after_PCA = pd.DataFrame(data=X_train_after_PCA, index=scaled_df_X_train.index)
print(df_X_train_after_PCA.shape)
df_X_train_after_PCA.head()

(1253, 65)

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,64
1089,-0.903395,-0.247233,0.759519,0.816241,-0.425685,0.091098,0.053567,-0.558968,0.149118,-0.138340,...,-0.066945,-0.242118,0.079649,-0.280433,-0.149107,-0.406006,0.162388,-0.584658,-0.204708,-0.005600
368,0.839242,1.417210,0.367891,0.292192,-1.114996,0.465425,0.342170,-0.393334,0.057625,-1.370308,...,-0.314842,0.472295,-0.179106,-0.321275,-0.067517,-0.259126,0.337592,0.014285,-0.393288,-0.273621
624,1.137073,-1.384722,-0.879379,-0.304110,0.199366,-0.557952,-1.278298,0.372888,0.078360,-0.156254,...,-0.038746,0.352670,0.160692,-0.259189,-0.237391,-0.226352,-0.332650,-0.096655,0.011927,-0.150845
968,-0.910507,0.483764,-1.452042,-0.719074,0.224417,-0.410125,1.832303,-0.634627,0.965997,-0.775354,...,0.259470,0.164011,-0.270940,-0.324605,0.581865,0.087382,0.129002,0.181990,0.018207,0.109940
924,0.174344,0.474171,-1.881797,0.072734,0.508951,-0.695294,0.603328,0.498879,-0.423531,1.108950,...,0.219536,-0.032348,0.534001,0.581231,0.254260,-0.019770,-0.105475,-0.244919,0.087369,-0.095033

In [21]:
# PCA 수행 후의 X_test을 DataFrame으로 형변환 
df_X_test_after_PCA = pd.DataFrame(data=X_test_after_PCA, index=scaled_df_X_test.index)
print(df_X_test_after_PCA.shape)
df_X_test_after_PCA.head()

(314, 65)

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,64
689,0.880095,0.208061,-0.505179,0.879564,-0.463139,-0.702884,-0.164634,0.442332,-0.666352,-0.615188,...,-0.411532,0.277539,-0.068409,-0.163422,-0.124531,1.564981,0.440899,0.333391,-0.396088,0.415174
1143,-1.257077,0.485972,-0.124221,0.034897,0.224455,-0.842593,-0.846801,0.336878,0.346740,-0.073550,...,-0.286190,0.071769,0.615050,0.263279,0.172013,0.048027,-0.132774,0.107658,0.022037,0.052704
1122,-0.784314,-0.753157,1.565528,-0.092707,-1.027178,-0.654934,0.047248,-0.098490,-0.492723,0.006055,...,-0.157482,-0.328976,0.606282,-0.347548,-0.229952,-0.188944,-0.282449,-0.092019,0.560609,-0.070362
756,0.334920,-0.239147,1.874140,-2.112174,-0.376863,1.474010,-0.446107,-0.578506,-0.031759,0.139953,...,0.491603,-0.044109,0.035412,-0.177368,-0.010450,-0.116838,0.243663,0.155863,0.117827,-0.103362
1026,-1.424533,0.673877,-0.073256,0.584817,0.556910,-0.355742,-0.301483,-0.208224,-0.955554,-0.454921,...,-0.178543,-0.644358,-0.249644,-0.167087,-0.495041,-0.525178,0.016739,0.545592,-0.243223,-0.088396

## 소수 클래스 추출

In [22]:
# 소수 클래스 데이터 프레임을 만들기 위해 y_train을 데이터 프레임으로 변환
df_y_train = y_train.to_frame()
df_y_train.columns = [590]
df_y_train.head()

      590
1089   -1
368     1
624    -1
968    -1
924     1

In [23]:
# df_train_after_preprocessing: 전처리가 끝난 train data
df_train_after_preprocessing = scaled_df_X_train.join(df_y_train, how ='left')
print(df_train_after_preprocessing.shape)
df_train_after_preprocessing.head()

(1253, 423)

,0,1,2,3,4,6,7,8,9,10,...,577,582,583,584,585,586,587,588,589,590
1089,0.032245,-0.114485,0.314324,0.948694,-0.949477,-0.784008,0.879478,0.056296,0.084957,-0.351536,...,-0.728700,0.80000,-0.977051,-0.974684,-0.978401,-0.591912,-0.656539,-0.729927,-0.710990,-1
368,-0.371075,0.208597,-0.007655,-0.488985,-0.950122,-0.100144,0.849139,0.346798,-0.108340,0.105802,...,-0.769689,0.26875,-0.947301,-0.955209,-0.949275,-0.805147,-0.635403,-0.620438,0.055099,1
624,-0.196881,-0.043435,0.102930,-0.526126,-0.949917,0.036338,0.837004,0.457241,-0.203429,-0.160410,...,-0.754995,-0.03125,-0.971951,-0.972736,-0.972267,-0.472426,-0.717305,-0.708029,-0.822372,-1
968,-0.352123,-0.115881,-0.122952,-0.352613,-0.950126,-0.184039,0.838521,-0.068328,0.060016,-0.460751,...,-0.748950,0.53750,-0.980875,-0.978578,-0.981748,-0.487132,-0.878468,-0.897810,-0.890324,-1
924,0.136892,-0.322922,1.000000,0.270582,-0.950424,-0.661158,0.759640,0.803610,0.222136,0.078498,...,-0.823422,0.93125,-0.976201,-0.972736,-0.978005,-0.608456,-0.984148,-0.963504,-0.915862,1

In [24]:
# df_train_after_preprocessing에서 소수 클래스만 추출하여 데이터 프레임화
df_minority_class = df_train_after_preprocessing.loc[df_train_after_preprocessing[590]==1]
print(df_minority_class.shape)
df_minority_class.head()

(79, 423)

,0,1,2,3,4,6,7,8,9,10,...,577,582,583,584,585,586,587,588,589,590
368,-0.371075,0.208597,-0.007655,-0.488985,-0.950122,-0.100144,0.849139,0.346798,-0.108340,0.105802,...,-0.769689,0.26875,-0.947301,-0.955209,-0.949275,-0.805147,-0.635403,-0.620438,0.055099,1
924,0.136892,-0.322922,1.000000,0.270582,-0.950424,-0.661158,0.759640,0.803610,0.222136,0.078498,...,-0.823422,0.93125,-0.976201,-0.972736,-0.978005,-0.608456,-0.984148,-0.963504,-0.915862,1
58,-0.149092,-0.331123,0.281506,-0.190790,-0.950346,0.185410,0.837004,0.087667,-0.443492,0.392491,...,-0.850500,0.69375,-0.974076,-0.966894,-0.975410,-0.509191,-0.315720,-0.386861,-0.604956,1
795,0.063659,-0.157702,-0.103751,-0.350559,-0.949907,-0.060671,0.890096,0.058015,-0.240842,-0.542662,...,-0.604076,0.35000,-0.983425,-0.980526,-0.984140,-0.143382,-0.402906,-0.423358,-0.820512,1
327,-0.311314,0.164827,0.397327,-0.106797,-0.950819,-0.270862,0.826385,-0.064890,-0.303196,-0.237770,...,-0.840737,0.21250,-0.915002,-0.925998,-0.917652,-0.474265,-0.830911,-0.839416,-0.872711,1

In [25]:
# 소수 클래스 y

df_minority_class_y = df_minority_class[590]
df_minority_class_y = df_minority_class_y.to_frame()
df_minority_class_y.head()

     590
368    1
924    1
58     1
795    1
327    1

In [26]:
# 소수 클래스 X

df_minority_class_X = df_minority_class.drop(590,1)
df_minority_class_X.head()

,0,1,2,3,4,6,7,8,9,10,...,576,577,582,583,584,585,586,587,588,589
368,-0.371075,0.208597,-0.007655,-0.488985,-0.950122,-0.100144,0.849139,0.346798,-0.108340,0.105802,...,-0.964340,-0.769689,0.26875,-0.947301,-0.955209,-0.949275,-0.805147,-0.635403,-0.620438,0.055099
924,0.136892,-0.322922,1.000000,0.270582,-0.950424,-0.661158,0.759640,0.803610,0.222136,0.078498,...,-0.978590,-0.823422,0.93125,-0.976201,-0.972736,-0.978005,-0.608456,-0.984148,-0.963504,-0.915862
58,-0.149092,-0.331123,0.281506,-0.190790,-0.950346,0.185410,0.837004,0.087667,-0.443492,0.392491,...,-0.980472,-0.850500,0.69375,-0.974076,-0.966894,-0.975410,-0.509191,-0.315720,-0.386861,-0.604956
795,0.063659,-0.157702,-0.103751,-0.350559,-0.949907,-0.060671,0.890096,0.058015,-0.240842,-0.542662,...,-0.975390,-0.604076,0.35000,-0.983425,-0.980526,-0.984140,-0.143382,-0.402906,-0.423358,-0.820512
327,-0.311314,0.164827,0.397327,-0.106797,-0.950819,-0.270862,0.826385,-0.064890,-0.303196,-0.237770,...,-0.969173,-0.840737,0.21250,-0.915002,-0.925998,-0.917652,-0.474265,-0.830911,-0.839416,-0.872711

## 중간 정리 (변수)

(secom, y): 세콤 데이터셋을 처음 불러올 때 

secom_categorical: secom에서 상수값을 제거 

(X_train, X_test, y_train, y_test): secom_categorical과 y를 훈련셋과 테스트셋으로 8:2로 분리

df_X_train: X_train을 데이터 프레임으로 변환 후 결측치를 가우시안 분포를 따르는 난수로 채움 

df_X_test: X_test을 데이터 프레임으로 변환 후 결측치를 가우시안 분포를 따르는 난수로 채움

scaled_df_X_train: df_X_train에서 각 열의 데이터가 표준 정규분포를 따르도록 Normalization 수행

scaled_df_X_test: df_X_test에서  각 열의 데이터가 표준 정규분포를 따르도록 Normalization 수행

df_y_train:y_train을 데이터 프레임으로 변환

df_train_after_preprocessing: scaled_df_X_train + df_y_train 

df_minority_class: df_train_after_preprocessing에서 소수 클래스만 추출하여 데이터 프레임으로 변환

# SMOTE

In [67]:
from collections import Counter
from sklearn.datasets import make_classification
from imblearn.over_sampling import SMOTE

sm = SMOTE(random_state=0, ratio = 0.5, k_neighbors=10)
X_smo, y_smo = sm.fit_resample(X_train_after_PCA, y_train)

df_X_smo = pd.DataFrame(X_smo)
df_y_smo = pd.DataFrame(y_smo)

print(X_smo.shape)
print(y_smo.shape)

SMOTE_secom = pd.concat([df_X_smo,df_y_smo], axis=1)

#SMOTE_secom.drop(SMOTE_secom.columns[[1]], axis = 1, inplace = True)

print(SMOTE_secom.shape)

SMOTE_secom.to_csv("C:/Users/juj11/Desktop/SMOTE_secom.csv",sep=',',index = False)

(1755, 65)
(1755,)
(1755, 66)

In [28]:
smo_file = pd.read_csv("C:/Users/juj11/Desktop/SMOTE_secom.csv")

print(smo_file)

             0         1         2         3         4         5         6  \
0    -0.903395 -0.247233  0.759519  0.816241 -0.425685  0.091098  0.053567
1     0.839242  1.417210  0.367891  0.292192 -1.114996  0.465425  0.342170
2     1.137073 -1.384722 -0.879379 -0.304110  0.199366 -0.557952 -1.278298
3    -0.910507  0.483764 -1.452042 -0.719074  0.224417 -0.410125  1.832303
4     0.174344  0.474171 -1.881797  0.072734  0.508951 -0.695294  0.603328
5    -0.353106 -0.227973  0.079937 -0.576316  0.786091 -0.094164  0.281762
6     0.515999 -1.849574 -1.480031  0.884675  0.856621  0.623028  1.022031
7     0.639542 -2.263681 -1.247147  0.153142  0.535746 -0.851404 -0.638253
8    -0.424098 -0.722374 -0.910452 -0.678949  1.008854 -0.972776 -0.533744
9     1.558148  0.249647 -1.873322 -1.025119  0.531289  0.004042 -0.402189
10   -1.428988 -0.627282  0.805627 -1.259534  0.875070 -0.425056 -0.403914
11    0.508115  2.535816  1.009491 -0.910398 -0.449616  0.162985 -1.256751
12   -0.009360 -0.341129  1.305472 -0.585067 -0.066956  1.106139  1.108232
13    0.847875  1.284481 -0.541422 -0.515374 -1.103675  0.160593 -0.316084
14    1.356798  0.900159  0.543313 -0.635858  1.449691  1.281620 -0.907814
15   -0.313929 -0.792150 -0.779607  1.809795 -0.680031 -0.907154  0.733933
16   -1.191352 -0.656748 -0.139671 -0.390212  0.734926 -0.171508 -0.695098
17    0.843949  0.991953  1.361992  0.202585 -0.058695  1.107804 -1.011986
18   -0.122737  2.035375 -0.125687 -0.865896  0.159002 -0.034106  0.457185
19   -0.542579 -0.314825 -0.834087  0.456546  0.603532  0.578906  0.407134
20    0.570827  0.613278  0.134836 -0.718018 -0.943461  0.821639 -0.013975
21   -0.541962 -1.279337 -1.619654 -0.233298  0.743612 -1.787260  0.650859
22   -1.660532 -0.668601  0.245352  0.651933  0.499304  0.135091 -1.738272
23   -1.416497 -0.243994 -0.075481 -0.258912  0.788801 -0.657486 -1.266678
24   -0.738920  1.735002  0.253048  1.089213 -1.359153 -0.081484 -0.773160
25   -0.121218  1.896823 -1.152555 -0.416737 -0.406017  0.036288  0.118609
26   -0.953182 -0.328292  0.283597 -0.073110  0.195548  0.401410 -0.470631
27    0.217472 -1.791022  1.353764 -0.837509  0.108032  0.802222  0.768459
28    3.445089  0.126447  3.686275  1.241199  1.934165 -0.807959  1.150305
29    0.691841  0.674309 -0.320388 -0.616464 -0.165879 -0.269605  0.531403
...        ...       ...       ...       ...       ...       ...       ...
1731  0.797537 -1.648571 -1.155876  0.959536  0.490172 -0.324960  0.409071
1732 -0.613255  0.409251 -0.004804 -0.185160 -0.274452  0.016995 -0.217828
1733 -0.816287  0.297473 -0.001787  0.226888  0.024259  0.236030 -0.524075
1734  0.221828 -2.121440 -0.197921  0.565028 -0.626335 -0.736803  0.590777
1735 -0.373259  0.805741  0.092192 -0.187323 -0.389646  0.148525 -0.252444
1736 -0.166348  1.010364  0.167939 -0.855956 -0.121036 -0.126521 -0.226245
1737  0.961456 -1.181898 -1.040726 -0.358509 -0.586784 -0.886432  0.546885
1738  0.087577  0.798006  0.120130 -0.541030  0.034706  0.151097 -0.374642
1739  0.048300  0.379082  0.273576 -1.032626 -0.613725 -0.368932  0.532146
1740 -0.264679  0.685539 -0.625101 -0.394526  0.985846 -0.472419 -0.352751
1741 -0.876447  0.094508 -0.039812  0.548340  0.458722  0.298533 -0.557963
1742 -0.549073  1.223731 -0.454088  0.583453  0.362115 -0.736459  0.374888
1743  1.071674 -0.189212 -0.874159 -0.473644 -0.140480 -1.425247 -0.690739
1744  0.160428  1.320362 -0.352698 -0.383339  0.476397  0.653647 -0.284008
1745 -0.483491  0.716608  0.203051  0.202347 -0.733793  0.175361 -0.759416
1746 -0.892773  0.297724  0.446894  0.156701  0.114768  0.050784 -0.652739
1747  0.777601  1.472962  0.184986 -1.086399 -0.579490  0.024712 -0.132525
1748  0.952999 -0.001219 -0.783524 -0.520040 -0.141755 -1.398945 -0.752913
1749  0.690601  0.013698 -1.051813 -0.401244 -1.229203 -1.190232  0.789138
1750  0.887493  1.116998  0.402999  0.277085 -0.902811  0.380530  0.298214
1751 -0.089128  1.055641  0.138117 -0.302354 -0.440274  0.121153 -0.076536
1752 -0.449124  0.143230  0.163387 -0.821449 -0.318434 -0.738466  0.486399
1753  1.579077 -0.054787 -0.480203  0.585110 -0.818144 -0.745700 -0.285172
1754  0.381278 -1.331828 -2.133386  0.155228  0.032067 -0.315481  0.790512
1755 -0.317790  0.753901  0.147657  0.435592  0.576221  0.162519 -0.949056
1756 -0.151010  0.374342 -0.323443 -0.728546 -0.035587 -0.346424  0.463522
1757  0.136895 -0.968927  0.039991  1.553334 -1.243445 -0.562089  0.326256
1758  0.031621 -0.901601  0.294709  0.078786 -1.250342 -0.451992  0.537513
1759 -0.813237  0.461247 -0.379959 -0.218501  0.573200 -0.801761 -0.347776
1760  0.564586 -0.871418 -0.899171  1.424294  0.685784 -0.211148 -0.416846

             7         8         9 ...         56        57        58  \
0    -0.558968  0.149118 -0.138340 ...  -0.242118  0.079649 -0.280433
1    -0.393334  0.057625 -1.370308 ...   0.472295 -0.179106 -0.321275
2     0.372888  0.078360 -0.156254 ...   0.352670  0.160692 -0.259189
3    -0.634627  0.965997 -0.775354 ...   0.164011 -0.270940 -0.324605
4     0.498879 -0.423531  1.108950 ...  -0.032348  0.534001  0.581231
5     0.121855 -0.537597 -1.114944 ...  -0.176727  0.123398  0.007278
6    -0.898181 -0.304113  0.497543 ...   0.530267  0.451261 -0.288309
7     0.093697  1.041323  0.064802 ...   0.168373  0.109665  0.105109
8     0.501476  0.697615  0.128269 ...  -0.111151  0.265253 -0.027527
9    -0.172329  0.497160 -0.307496 ...  -0.397622 -0.269856  0.237676
10   -0.222810  0.144703 -0.083988 ...  -0.231829  0.226263  0.440980
11    0.493899 -0.956601 -0.858586 ...  -0.064900  0.622138 -0.043088
12   -1.291599  0.821636 -1.556236 ...  -0.180809 -0.086606  0.387805
13    0.268990  0.498672  0.169193 ...  -0.342741 -0.297939 -0.152622
14   -0.430099 -0.419390 -1.217926 ...  -0.008145  0.161943  0.281153
15   -0.121331 -0.207997  0.984239 ...   0.431464  0.082796 -0.275398
16   -0.296522  0.130951  0.739960 ...  -0.155993 -0.325462 -0.218014
17   -0.868352  0.165188 -0.823948 ...   0.265028 -0.409927 -0.041622
18    0.085943 -0.359777  0.208522 ...  -0.026871 -0.019495 -0.316203
19   -0.460098  0.110138  0.714909 ...  -0.600122 -0.097345 -0.214215
20   -0.241825  0.831225  0.333497 ...  -0.004909  0.028715 -0.209547
21    0.630859 -0.610698 -0.108797 ...  -0.018679  0.138915  0.260956
22    0.288388  0.040067  1.059942 ...   0.665416 -0.378479  0.428015
23    0.452805  0.484093 -0.268998 ...  -0.261392  0.097372  0.209890
24    0.049984 -0.883730  0.852948 ...   0.261853 -0.093685 -0.200785
25    0.167668 -0.987752  1.260297 ...   0.141667  0.390757 -0.059060
26    2.166175 -0.263068 -0.653988 ...   0.651639 -0.362530  0.348611
27   -0.787686 -1.722720  0.896380 ...   0.310111 -0.032144  0.432640
28   -0.052236  0.289920  1.319993 ...   0.089990  0.246921  0.099662
29   -0.235821  0.598994 -0.817496 ...   0.107407  0.767450  0.415289
...        ...       ...       ... ...        ...       ...       ...
1731 -0.612216 -0.286186 -0.552863 ...   0.110267 -0.129061  0.058913
1732  0.483801 -0.224084  0.427950 ...   0.087604  0.103126  0.070781
1733  0.395829 -0.231804  0.814042 ...  -0.154091  0.092189  0.166934
1734 -0.600993 -0.448928  0.028220 ...   0.094281  0.168060  0.419138
1735  0.541491 -0.730004  0.993670 ...   0.149603  0.087460  0.203588
1736  0.156443 -1.339073  0.425891 ...   0.281184 -0.060161  0.135121
1737  0.118466 -0.612286  0.176013 ...  -0.174107  0.172584  0.026332
1738  0.436896 -0.837659  0.517600 ...   0.090499 -0.093159  0.218473
1739 -0.056156 -0.634077 -0.435172 ...   0.154154  0.005920 -0.400141
1740  0.293331 -0.509381 -0.312252 ...  -0.650709  0.242949 -0.329837
1741  0.039459 -0.373203  0.741269 ...  -0.214934 -0.072314  0.224942
1742 -0.041314 -0.515862 -0.783566 ...  -0.023978  0.065325 -0.195671
1743  0.710177 -0.106577  0.156021 ...   0.774640 -0.175129  0.172834
1744 -0.156606 -0.340511  0.174555 ...  -0.006204  0.412796  0.271418
1745  0.635330  0.011381  0.895991 ...  -0.158692  0.117531  0.162652
1746  0.041689 -0.119909  0.783643 ...  -0.196103 -0.177835 -0.035405
1747 -0.386744 -0.321431 -0.283709 ...   0.137045 -0.068759  0.200323
1748  0.740543 -0.153757  0.110236 ...   0.681981 -0.049312  0.266755
1749  0.450406 -0.443718  0.667612 ...  -0.636574  0.042850 -0.136869
1750 -0.406735 -0.185749 -1.293621 ...   0.384894 -0.176834 -0.237927
1751  0.443751 -1.168244  1.081396 ...   0.333239 -0.009363  0.262866
1752  0.265929 -0.860036 -0.513238 ...  -0.120913  0.001655 -0.512676
1753  0.328807 -0.203957 -0.520184 ...  -0.106411 -0.048632  0.021720
1754 -0.014336 -0.811751  1.313953 ...  -0.522598 -0.122803 -0.071671
1755 -0.157718  0.532993 -0.818084 ...  -0.145512  0.010463 -0.576054
1756  0.012547 -0.480157 -0.493559 ...   0.486648 -0.104561 -0.147965
1757 -0.470174 -0.020937 -0.376840 ...   0.826529 -0.199878  0.317617
1758 -0.333142 -0.044008  0.087189 ...  -0.723186 -0.419814 -0.520851
1759  0.392383 -0.770486 -0.042150 ...  -0.669107 -0.178124 -0.035385
1760 -0.281383  0.025485 -0.747345 ...   0.258275 -0.055050 -0.048897

            59        60        61        62        63        64  0.1
0    -0.149107 -0.406006  0.162388 -0.584658 -0.204708 -0.005600   -1
1    -0.067517 -0.259126  0.337592  0.014285 -0.393288 -0.273621    1
2    -0.237391 -0.226352 -0.332650 -0.096655  0.011927 -0.150845   -1
3     0.581865  0.087382  0.129002  0.181990  0.018207  0.109940   -1
4     0.254260 -0.019770 -0.105475 -0.244919  0.087369 -0.095033    1
5    -0.038201 -0.429295 -0.214857  0.527369  0.380536  0.003626   -1
6     0.427334  0.827152 -0.566284 -0.346883  0.227251 -0.197245   -1
7     0.032190  0.499500 -0.218359  0.079260 -0.067250  0.034600   -1
8    -0.150929  0.656806  0.114565 -0.348870 -0.055176  0.136444   -1
9    -0.241932  0.033887 -0.150805 -0.262550  0.229342 -0.290961   -1
10    0.027345  0.363692  0.002901 -0.009759  0.209460 -0.301733   -1
11    0.379717  0.407930 -0.028822  0.439400  0.133548 -0.197704   -1
12    0.162501 -0.086998  0.167706 -0.108065  0.442124 -0.013666   -1
13    0.623337 -0.160828 -0.282049 -0.315103  0.474713  0.082709   -1
14   -0.527119  0.022819  0.426637  0.306093 -0.109878 -0.173494   -1
15   -0.455578  0.177812 -0.310189  0.061016 -0.074814 -0.229643   -1
16   -0.040989  0.228947  0.019470  0.375672  0.199434 -0.124370   -1
17   -0.312634 -0.500718  0.358951  0.010752  0.103848  0.167227   -1
18    0.509052 -0.460079  0.096060 -0.243536 -0.570135 -0.288693   -1
19   -0.197682  0.086356  0.315412  0.063033 -0.185567 -0.097735   -1
20    0.280787 -0.077021  0.165868 -0.169191 -0.357037  0.371616   -1
21    0.197800 -0.136025  0.176211 -0.045059  0.045113  0.279120   -1
22    0.824043 -0.128979 -0.267617  0.071603  0.483125 -0.189711   -1
23   -0.391664 -0.374342 -0.011837  0.121422 -0.128953  0.286144   -1
24    0.002697 -0.293747  0.336577  0.180213  0.340601 -0.156063   -1
25    0.088309 -0.162555 -0.303504  0.334105  0.090548  0.528407   -1
26    0.172152  0.143023 -0.253431 -0.134471  0.343768  0.130317   -1
27    0.264884 -0.189685 -0.486466 -0.281902  0.096591 -0.515421   -1
28   -0.396015  0.146978  0.095975  0.205126 -0.496009 -0.130968    1
29    0.023836  0.330975  0.046702 -0.290006  0.184890 -0.375530   -1
...        ...       ...       ...       ...       ...       ...  ...
1731 -0.129473  0.214343 -0.493991 -0.103888  0.081204  0.140819    1
1732  0.381536 -0.098964  0.293246 -0.582519 -0.119141  0.367337    1
1733  0.107671 -0.241620  0.017505 -0.365151 -0.283519  0.349626    1
1734 -0.120760 -0.105560 -0.401129 -0.213947 -0.397628  0.471575    1
1735  0.098252 -0.125443  0.240763 -0.165971 -0.287807  0.221301    1
1736 -0.152762 -0.287994  0.331082 -0.083386 -0.495090  0.293254    1
1737  0.041026  0.130455 -0.138626  0.046898 -0.064288  0.148452    1
1738 -0.028562 -0.019769  0.186810  0.010073 -0.374818  0.077782    1
1739 -0.045021  0.056679 -0.031354 -0.035892 -0.079748  0.466588    1
1740  0.194871  0.124201  0.182308 -0.283418 -0.027441  0.108269    1
1741 -0.230903 -0.293632 -0.201394 -0.294311 -0.325077  0.146005    1
1742  0.026783 -0.304647 -0.102460 -0.264932 -0.209611 -0.148843    1
1743 -0.192276 -0.296536 -0.606099  0.092704  0.153012  0.323576    1
1744  0.025827 -0.044430  0.162580 -0.179403 -0.221518 -0.003004    1
1745  0.296298  0.034389  0.034955 -0.201242 -0.190198  0.270125    1
1746 -0.102097  0.137387 -0.425046 -0.319133 -0.006253  0.064316    1
1747  0.283513  0.227883 -0.079048  0.295404  0.125727 -0.049355    1
1748 -0.222862 -0.335619 -0.524873  0.035890  0.153791  0.306670    1
1749  0.059705  0.100733 -0.249503 -0.061207  0.322697  0.177864    1
1750  0.006051 -0.259640  0.280886  0.036327 -0.388921 -0.200880    1
1751 -0.100801 -0.071513  0.276845  0.017363 -0.314488  0.013464    1
1752 -0.271233 -0.078567 -0.069350 -0.201459 -0.280638  0.679403    1
1753 -0.137140 -0.034860 -0.020930  0.151211  0.016529  0.094964    1
1754  0.048372 -0.151256  0.046055 -0.004219  0.054157 -0.111212    1
1755  0.193759 -0.185400  0.060403 -0.013640  0.038906 -0.204097    1
1756  0.298350  0.128863  0.370434 -0.653133  0.103589 -0.063931    1
1757  0.195343  0.166432 -0.756530 -0.324003 -0.740141 -0.148425    1
1758 -0.332251 -0.012083 -0.342384  0.052565  0.141944  0.171066    1
1759 -0.339076 -0.162095 -0.285211 -0.115846 -0.336698  0.497882    1
1760 -0.015555  0.108602 -0.722107  0.144059  0.365111 -0.155934    1

[1761 rows x 66 columns]

# ADASYN

In [29]:
from collections import Counter
from imblearn.over_sampling import ADASYN

ada = ADASYN(random_state=0, ratio = 0.5)

X_ada, y_ada = ada.fit_resample(X_train_after_PCA, y_train)

df_X_ada = pd.DataFrame(X_ada)
df_y_ada = pd.DataFrame(y_ada)

print(X_ada.shape)
print(y_ada.shape)

ADASYN_secom = pd.concat([df_X_ada,df_y_ada], axis=1)
print(ADASYN_secom.shape)

ADASYN_secom.to_csv("C:/Users/juj11/Desktop/ADASYN_secom.csv",sep=',', index = False)

(1759, 65)
(1759,)
(1759, 66)

In [30]:
ada_file = pd.read_csv("C:/Users/juj11/Desktop/ADASYN_secom.csv")

#  Naive random over-sampling

In [31]:
from imblearn.over_sampling import RandomOverSampler

ros = RandomOverSampler(random_state = 0)
nro_X, nro_y = ros.fit_resample(X_train_after_PCA, y_train)

from collections import Counter
print(sorted(Counter(nro_y).items()))

[(-1, 1174), (1, 1174)]

In [36]:
from sklearn.svm import LinearSVC
clf = LinearSVC()
clf.fit(nro_X,nro_y)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
     intercept_scaling=1, loss='squared_hinge', max_iter=1000,
     multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
     verbose=0)

In [37]:
df_nro_X = pd.DataFrame(nro_X)
df_nro_y = pd.DataFrame(nro_y)

In [38]:
df_X_nro = pd.DataFrame(nro_X)
df_y_nro = pd.DataFrame(nro_y)

print(df_X_nro.shape)
print(df_y_nro.shape)

NOS_secom = pd.concat([df_X_nro,df_y_nro], axis=1)
print(NOS_secom.shape)

NOS_secom.to_csv("C:/Users/juj11/Desktop/NOS_secom.csv",sep=',', index = False)

(2348, 65)
(2348, 1)
(2348, 66)

# Borderline SMOTE

In [39]:
from collections import Counter
from imblearn.over_sampling import BorderlineSMOTE
bsm = BorderlineSMOTE(random_state=0)
X_bsmo, y_bsmo = bsm.fit_resample(X_train_after_PCA, y_train)

df_X_bsmo = pd.DataFrame(X_bsmo)
df_y_bsmo = pd.DataFrame(y_bsmo)

Borderline_SMOTE_secom = pd.concat([df_X_bsmo,df_y_bsmo], axis=1)

print(Borderline_SMOTE_secom)

Borderline_SMOTE_secom.to_csv("C:/Users/juj11/Desktop/Borderline_SMOTE_secom.csv",sep=',', index = False)

            0         1         2         3         4         5         6   \
0    -0.903395 -0.247233  0.759519  0.816241 -0.425685  0.091098  0.053567
1     0.839242  1.417210  0.367891  0.292192 -1.114996  0.465425  0.342170
2     1.137073 -1.384722 -0.879379 -0.304110  0.199366 -0.557952 -1.278298
3    -0.910507  0.483764 -1.452042 -0.719074  0.224417 -0.410125  1.832303
4     0.174344  0.474171 -1.881797  0.072734  0.508951 -0.695294  0.603328
5    -0.353106 -0.227973  0.079937 -0.576316  0.786091 -0.094164  0.281762
6     0.515999 -1.849574 -1.480031  0.884675  0.856621  0.623028  1.022031
7     0.639542 -2.263681 -1.247147  0.153142  0.535746 -0.851404 -0.638253
8    -0.424098 -0.722374 -0.910452 -0.678949  1.008854 -0.972776 -0.533744
9     1.558148  0.249647 -1.873322 -1.025119  0.531289  0.004042 -0.402189
10   -1.428988 -0.627282  0.805627 -1.259534  0.875070 -0.425056 -0.403914
11    0.508115  2.535816  1.009491 -0.910398 -0.449616  0.162985 -1.256751
12   -0.009360 -0.341129  1.305472 -0.585067 -0.066956  1.106139  1.108232
13    0.847875  1.284481 -0.541422 -0.515374 -1.103675  0.160593 -0.316084
14    1.356798  0.900159  0.543313 -0.635858  1.449691  1.281620 -0.907814
15   -0.313929 -0.792150 -0.779607  1.809795 -0.680031 -0.907154  0.733933
16   -1.191352 -0.656748 -0.139671 -0.390212  0.734926 -0.171508 -0.695098
17    0.843949  0.991953  1.361992  0.202585 -0.058695  1.107804 -1.011986
18   -0.122737  2.035375 -0.125687 -0.865896  0.159002 -0.034106  0.457185
19   -0.542579 -0.314825 -0.834087  0.456546  0.603532  0.578906  0.407134
20    0.570827  0.613278  0.134836 -0.718018 -0.943461  0.821639 -0.013975
21   -0.541962 -1.279337 -1.619654 -0.233298  0.743612 -1.787260  0.650859
22   -1.660532 -0.668601  0.245352  0.651933  0.499304  0.135091 -1.738272
23   -1.416497 -0.243994 -0.075481 -0.258912  0.788801 -0.657486 -1.266678
24   -0.738920  1.735002  0.253048  1.089213 -1.359153 -0.081484 -0.773160
25   -0.121218  1.896823 -1.152555 -0.416737 -0.406017  0.036288  0.118609
26   -0.953182 -0.328292  0.283597 -0.073110  0.195548  0.401410 -0.470631
27    0.217472 -1.791022  1.353764 -0.837509  0.108032  0.802222  0.768459
28    3.445089  0.126447  3.686275  1.241199  1.934165 -0.807959  1.150305
29    0.691841  0.674309 -0.320388 -0.616464 -0.165879 -0.269605  0.531403
...        ...       ...       ...       ...       ...       ...       ...
2310  0.024017  0.012025  1.180633 -0.515997 -0.805014 -0.910859 -1.074313
2311  1.622173  0.410831 -0.510120  0.363658 -0.925952  0.610457 -0.074491
2312 -1.591673  0.384715  0.463738  0.109759 -0.250345  0.315364 -0.163975
2313 -0.328509  0.717940  1.400111 -0.527201 -0.997341 -0.881342 -0.911040
2314 -0.173919 -1.469144  0.133157  0.811871 -0.339424 -0.155405 -0.269904
2315  2.201962 -0.728215 -0.053139  0.655974  0.111928  1.549980 -0.272297
2316 -0.930366 -0.043737 -0.309305  0.147894 -0.131533 -0.970626  0.709476
2317  1.051709  1.188091 -0.046285  0.179902 -1.216953  0.092930 -0.498393
2318 -1.096111 -0.257424  0.366840 -1.149697 -0.547131  0.181674  0.090055
2319 -1.052279  0.392634 -0.364421  0.774521  0.096880 -0.060506  1.209367
2320 -0.952582 -0.293501  0.112741 -1.054477  0.515579 -0.666490  0.331399
2321 -0.032859  0.674953  0.023426 -1.440066 -0.118437 -0.082176  0.273009
2322 -0.256675  0.915306 -0.147809 -0.126335  0.320426  0.146634  0.395939
2323  1.483275 -0.089910 -1.010923 -0.308081  0.371345  0.517355 -0.462696
2324 -1.194630  0.113111  0.830595  0.911973 -0.006976 -0.206053 -1.244602
2325 -0.951534  0.360257  0.240386  0.449604 -0.574036  0.272565 -0.349314
2326 -1.174836  0.019852  0.395576 -1.119283 -0.482210 -0.071664 -0.158193
2327 -1.255432 -0.366166  0.531211  0.408544 -0.222038 -0.183616 -1.151178
2328  0.902198  0.602975  0.092896  0.161310 -0.436939  0.711320 -0.593247
2329 -0.081126 -0.474546 -0.380208 -0.105404  0.260807 -0.490771  0.265935
2330 -0.830356 -0.056333 -0.223406 -0.386876 -0.087686 -0.290162  1.576178
2331 -0.301176  1.176536  1.323223 -0.744454 -1.160692 -0.507204  0.146023
2332 -0.502231 -1.263633  0.171753  0.131324 -0.230440 -0.085532  0.152373
2333  0.012499 -0.518394 -0.232268 -0.023358  0.252336 -0.460877  0.271872
2334 -0.728329 -0.027651  0.193721 -1.309709  0.629146 -0.606142 -0.253012
2335 -0.669895  0.594557 -0.278093  1.024605 -0.219149 -0.530904 -0.382058
2336 -0.802964 -1.226800  2.203525 -0.051616  0.178511  2.603871  0.630940
2337 -1.362323 -0.534011  0.892779  0.341003  1.330269  0.679138  0.299030
2338 -0.940453 -0.210530  0.351060 -1.241195 -0.344998 -0.053620 -0.167411
2339  0.124223  0.877342 -0.044049 -1.613871 -0.279527  0.105983  0.491195

            7         8         9  ...        56        57        58  \
0    -0.558968  0.149118 -0.138340 ... -0.242118  0.079649 -0.280433
1    -0.393334  0.057625 -1.370308 ...  0.472295 -0.179106 -0.321275
2     0.372888  0.078360 -0.156254 ...  0.352670  0.160692 -0.259189
3    -0.634627  0.965997 -0.775354 ...  0.164011 -0.270940 -0.324605
4     0.498879 -0.423531  1.108950 ... -0.032348  0.534001  0.581231
5     0.121855 -0.537597 -1.114944 ... -0.176727  0.123398  0.007278
6    -0.898181 -0.304113  0.497543 ...  0.530267  0.451261 -0.288309
7     0.093697  1.041323  0.064802 ...  0.168373  0.109665  0.105109
8     0.501476  0.697615  0.128269 ... -0.111151  0.265253 -0.027527
9    -0.172329  0.497160 -0.307496 ... -0.397622 -0.269856  0.237676
10   -0.222810  0.144703 -0.083988 ... -0.231829  0.226263  0.440980
11    0.493899 -0.956601 -0.858586 ... -0.064900  0.622138 -0.043088
12   -1.291599  0.821636 -1.556236 ... -0.180809 -0.086606  0.387805
13    0.268990  0.498672  0.169193 ... -0.342741 -0.297939 -0.152622
14   -0.430099 -0.419390 -1.217926 ... -0.008145  0.161943  0.281153
15   -0.121331 -0.207997  0.984239 ...  0.431464  0.082796 -0.275398
16   -0.296522  0.130951  0.739960 ... -0.155993 -0.325462 -0.218014
17   -0.868352  0.165188 -0.823948 ...  0.265028 -0.409927 -0.041622
18    0.085943 -0.359777  0.208522 ... -0.026871 -0.019495 -0.316203
19   -0.460098  0.110138  0.714909 ... -0.600122 -0.097345 -0.214215
20   -0.241825  0.831225  0.333497 ... -0.004909  0.028715 -0.209547
21    0.630859 -0.610698 -0.108797 ... -0.018679  0.138915  0.260956
22    0.288388  0.040067  1.059942 ...  0.665416 -0.378479  0.428015
23    0.452805  0.484093 -0.268998 ... -0.261392  0.097372  0.209890
24    0.049984 -0.883730  0.852948 ...  0.261853 -0.093685 -0.200785
25    0.167668 -0.987752  1.260297 ...  0.141667  0.390757 -0.059060
26    2.166175 -0.263068 -0.653988 ...  0.651639 -0.362530  0.348611
27   -0.787686 -1.722720  0.896380 ...  0.310111 -0.032144  0.432640
28   -0.052236  0.289920  1.319993 ...  0.089990  0.246921  0.099662
29   -0.235821  0.598994 -0.817496 ...  0.107407  0.767450  0.415289
...        ...       ...       ... ...       ...       ...       ...
2310  0.581085 -0.638626 -0.091883 ... -0.191080 -0.235955  0.156517
2311  0.059489  0.270907 -0.514164 ... -0.473336  0.174242 -0.084905
2312 -0.074321 -0.661784  0.863492 ... -0.459716  0.186953 -0.255634
2313  0.490685 -0.958055 -0.126498 ... -0.108242 -0.164118  0.048855
2314 -0.428301  0.920577 -0.122395 ...  0.067883  0.273682  0.088349
2315 -1.220889 -0.063524  0.390203 ...  0.116016 -0.167514  0.273076
2316 -0.052212 -0.468412 -0.543503 ...  0.079624 -0.248686 -0.332698
2317  0.611510  0.152593 -1.363464 ... -0.060462  0.199550 -0.054870
2318 -0.242767  0.431761  0.154464 ... -0.230804 -0.252822 -0.086079
2319 -0.577635  0.560201 -1.002905 ...  0.088377 -0.130099  0.085039
2320 -0.025103 -0.610587  0.246077 ...  0.163049  0.202359  0.205828
2321  0.037837  0.301146 -0.387384 ...  0.025109 -0.202273  0.102543
2322 -0.511290  0.937675 -0.597888 ...  0.322080 -0.289637  0.132320
2323 -0.362492  1.319413  0.397782 ... -0.161710  0.200738 -0.040304
2324  0.196684  0.793423  0.237810 ...  0.364889 -0.011271 -0.531782
2325  0.042294 -0.245556  0.983968 ... -0.389900  0.015154 -0.152079
2326  0.014121  0.319414  0.125436 ... -0.011821 -0.316203 -0.026726
2327  0.016953  0.538433  1.014468 ...  0.038848  0.127303 -0.259002
2328  0.262236  0.289185 -1.405129 ... -0.197782  0.083597  0.006570
2329 -0.104076  0.224616 -0.535134 ... -0.426735  0.013930 -0.055812
2330 -0.423581  0.313757 -1.004075 ...  0.354424  0.204197  0.016770
2331  0.183876 -0.907213 -0.654270 ...  0.143997 -0.150935  0.114498
2332 -0.508160  0.523366  0.575625 ...  0.129170  0.350795 -0.014138
2333 -0.137389  0.130834 -0.562209 ... -0.408678  0.054832  0.026593
2334  0.057382 -0.320299 -0.232051 ...  0.243210  0.314793 -0.211230
2335 -0.070737 -0.545377 -0.507113 ... -0.464654  0.052820 -0.143414
2336  2.412083 -1.665764  0.576884 ... -0.513320 -0.308264  0.031612
2337 -0.955068 -0.283556 -0.997905 ...  0.100746 -0.268626 -0.159104
2338 -0.049212  0.246204  0.162013 ... -0.040980 -0.197823 -0.081040
2339 -0.028846  0.383580 -0.179770 ...  0.059631 -0.131893 -0.035906

            59        60        61        62        63        64  0
0    -0.149107 -0.406006  0.162388 -0.584658 -0.204708 -0.005600  -1
1    -0.067517 -0.259126  0.337592  0.014285 -0.393288 -0.273621  -1
2    -0.237391 -0.226352 -0.332650 -0.096655  0.011927 -0.150845  -1
3     0.581865  0.087382  0.129002  0.181990  0.018207  0.109940  -1
4     0.254260 -0.019770 -0.105475 -0.244919  0.087369 -0.095033  -1
5    -0.038201 -0.429295 -0.214857  0.527369  0.380536  0.003626  -1
6     0.427334  0.827152 -0.566284 -0.346883  0.227251 -0.197245  -1
7     0.032190  0.499500 -0.218359  0.079260 -0.067250  0.034600  -1
8    -0.150929  0.656806  0.114565 -0.348870 -0.055176  0.136444  -1
9    -0.241932  0.033887 -0.150805 -0.262550  0.229342 -0.290961  -1
10    0.027345  0.363692  0.002901 -0.009759  0.209460 -0.301733  -1
11    0.379717  0.407930 -0.028822  0.439400  0.133548 -0.197704  -1
12    0.162501 -0.086998  0.167706 -0.108065  0.442124 -0.013666  -1
13    0.623337 -0.160828 -0.282049 -0.315103  0.474713  0.082709  -1
14   -0.527119  0.022819  0.426637  0.306093 -0.109878 -0.173494  -1
15   -0.455578  0.177812 -0.310189  0.061016 -0.074814 -0.229643  -1
16   -0.040989  0.228947  0.019470  0.375672  0.199434 -0.124370  -1
17   -0.312634 -0.500718  0.358951  0.010752  0.103848  0.167227  -1
18    0.509052 -0.460079  0.096060 -0.243536 -0.570135 -0.288693  -1
19   -0.197682  0.086356  0.315412  0.063033 -0.185567 -0.097735  -1
20    0.280787 -0.077021  0.165868 -0.169191 -0.357037  0.371616  -1
21    0.197800 -0.136025  0.176211 -0.045059  0.045113  0.279120  -1
22    0.824043 -0.128979 -0.267617  0.071603  0.483125 -0.189711  -1
23   -0.391664 -0.374342 -0.011837  0.121422 -0.128953  0.286144  -1
24    0.002697 -0.293747  0.336577  0.180213  0.340601 -0.156063  -1
25    0.088309 -0.162555 -0.303504  0.334105  0.090548  0.528407  -1
26    0.172152  0.143023 -0.253431 -0.134471  0.343768  0.130317  -1
27    0.264884 -0.189685 -0.486466 -0.281902  0.096591 -0.515421  -1
28   -0.396015  0.146978  0.095975  0.205126 -0.496009 -0.130968  -1
29    0.023836  0.330975  0.046702 -0.290006  0.184890 -0.375530  -1
...        ...       ...       ...       ...       ...       ...  ..
2310 -0.082932 -0.168138  0.036283  0.244959 -0.375845 -0.193073   1
2311 -0.081620 -0.028526  0.087443 -0.127103 -0.072326  0.100347   1
2312  0.215870  0.118791  0.122241 -0.271348 -0.198958  0.513628   1
2313 -0.126952 -0.210006 -0.000733  0.279956 -0.761239 -0.157772   1
2314  0.003014  0.144015  0.113039 -0.290005 -0.325241  0.293681   1
2315  0.049438 -0.117135 -0.139564  0.111769  0.040835  0.296059   1
2316 -0.284648 -0.273502  0.028174  0.098895  0.296843 -0.072928   1
2317  0.000614 -0.004727 -0.068271  0.117623 -0.204663  0.249117   1
2318 -0.100994 -0.186936 -0.318985 -0.472104 -0.484580  0.049396   1
2319 -0.527978 -0.103854  0.203766  0.225776 -0.088284  0.025134   1
2320  0.380865 -0.007124  0.130492 -0.264590 -0.143646 -0.170985   1
2321  0.103361 -0.054425 -0.521384  0.162561  0.109979 -0.058092   1
2322  0.203120 -0.495192  0.154609  0.234036 -0.424937  0.181088   1
2323  0.199279 -0.128993 -0.058693  0.134103 -0.244776  0.072810   1
2324 -0.084020  0.421555 -0.155022  0.103090  0.042512 -0.300276   1
2325  0.368602  0.152127  0.135183 -0.114672 -0.244414  0.549549   1
2326 -0.160095 -0.159203 -0.278023 -0.493064 -0.462885 -0.107228   1
2327 -0.276277  0.125226 -0.245367 -0.354717  0.392044 -0.031544   1
2328  0.012464 -0.205208  0.014466  0.236562 -0.044928  0.140757   1
2329 -0.070442 -0.016766 -0.338900 -0.019666  0.327326 -0.137793   1
2330 -0.025530 -0.170434 -0.015788  0.106437 -0.199925  0.070031   1
2331  0.240051 -0.220650 -0.121417  0.247256 -0.601913  0.088995   1
2332  0.087152 -0.072644  0.006657 -0.218607 -0.248860  0.089110   1
2333 -0.074177 -0.013812 -0.398284 -0.032690  0.318632 -0.145460   1
2334  0.176795  0.150076 -0.388429  0.096304 -0.292157 -0.241277   1
2335  0.186979  0.620629 -0.050915 -0.061018 -0.281411 -0.134424   1
2336  0.415848 -0.043465  0.069710  0.073900  0.601738 -0.381136   1
2337  0.199204 -0.002749 -0.381804 -0.338153  0.149048  0.367338   1
2338 -0.098221 -0.072261 -0.435710 -0.443665 -0.511429 -0.045998   1
2339  0.086197 -0.143595 -0.641567  0.122907  0.075008  0.051312   1

[2340 rows x 66 columns]